:root {
  --accent-color: #44a08d;
  --shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

::selection {
  background: var(--accent-color);
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: monospace;
  flex-direction: column;
  background-color: #212121;
  color: white;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.accent-text {
  color: var(--accent-color);
}

.btn {
  transition: 0.5s ease;
  color: white;
  background: linear-gradient(to right, #134e5e, #44a08d);
  padding: 10px;
  border-radius: 7px;
  box-shadow: var(--shadow);
  display:inline-block;
  margin: 0 auto;
  animation: Gradient 15s ease infinite;
  font-size: 20px;
  background-size: 400% 400%;

}

body > main {
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: 840px;
  padding: auto 5%;
  width: 90%;
}

section {
  margin: 20px auto;
  margin-top: 40px;
}

section::after {
  display: block;
  content: " ";
  background: linear-gradient(to right, #134e5e, #44a08d);
  width: 100%;
  height: 1px;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

ul.faqs {
  padding: 0;
}

ul.faqs > li {
  list-style-type:none;
}

ul.faqs h3 {
  color: var(--accent-color);
}

.main_info {
  display: flex;
  flex-direction: column;
}

.main_info > div {
  display: flex;
  align-items: center;  
}

.main_info > div > * {
  padding: 4px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > * {
  padding: 5px;
}

.footer_logo {
  max-width: 44px;
  height: auto;
}

.footer_socials__icon {
  height: 24px;
  width: auto;
}

#fab {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: var(--accent-color);
  padding: 20px;
  box-shadow: var(--shadow);
  border-radius: 50%;
  cursor: pointer;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}